* {
  box-sizing: border-box;
}

:root {
  --gray-text-color: rgba(255, 255, 255, 0.7);
}

body {
  margin: 0px;
  font-family: "Quicksand", sans-serif;
  background-color: var(--gray-text-color);
}

.hero {
  height: 100%;
  position: static;
  margin: auto;
}
.hero img {
  position: relative;
  margin: auto;
  background-size: 100% 110%;
}

.text {
  color: white;
  font-size: 35px;
  padding: 550px 120px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.footer ul {
  margin-left: 180px;
  color: white;
  position: absolute;
  bottom: 5px;
}

.footer li {
  display: inline-block;
  font-size: 18px;
  margin-left: 180px;
}
.footer img {
  margin-left: 140px;
  position: absolute;
  bottom: 10px;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
